*.log
npm-debug.log*
coverage
packages/*/dist
node_modules/
*.env
.DS_Store
*/.DS_Store
*/.env
.npmrc
*.txt
generated/

#############
# MACOS
#############
*.icloud
*.DS_Store
.DS_Store
.AppleDouble
.LSOverride
.cloud



